#dd-message {
    background-color: #F5F5F5;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

#dd-message > span {
    white-space: pre-wrap;
}

th {
    background-color: #efefef;
}

#footer-pagination {
    display: flex;
}

#footer-pagination > .pagination-container {
    margin-left: auto;
}

#footer-pagination .pagination {
    margin: 0;
}