@{
    ViewBag.Title = "Anonco";
}

<div class="jumbotron">
    <h1>ANONCO</h1>
    <p class="lead">Anonco is a portal for users who are looking for short and concise announcements.<br/>Join to our community now!</p>
    <p>@Html.ActionLink("Register »","Register","Account", null, new {@class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you have an account, feel free to view, add and edit your announcements. Try to make your ads look good, this will encourage others to contact you. Let's go!
        </p>
        <p>@Html.ActionLink("Login »", "Login", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Browse announcements</h2>
        <p>
            You do not need to create an account if you only want to view the announcements. You can view them now.
        </p>
        @Html.ActionLink("Browse »", "Index", "Board", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            If you have a problem. Contact us.
            <address>
                Anonco Group<br />
                ul. Grudziądzka 69, 87-100 Toruń<br />
                <abbr title="Phone">P:</abbr>
                +48 123 123 123
            </address>
        </p>
        <p><a class="btn btn-default" href="mailto:support@anonco.net">Send email</a></p>
    </div>
</div>